* {
  margin: 0;
  padding: 0;
  background-color: #ffc600;
  color: #333;
  font-family: "Questrial", "微軟正黑體", sans-serif;
}
body {
  border-top: 6px solid #555;
  border-bottom: 6px solid #555;
}

.container {
  padding: 30px 0px;
  text-align: center;
}

.head {
  margin: auto;
  margin-bottom: 30px;
  max-width: 1200px;
}

.head__btn {
  display: inline-block;
  overflow: hidden;
  margin: 5px 15px;
  padding: 10px 0px;
  width: 160px;
  outline: 0;
  background-color: #333333;
  color: #fafafa;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.head__title {
  padding: 10px 30px;
  background-color: #f7df1e;
  font-size: 60px;
  font-family: "Montserrat";
}

.head__desc {
  margin: 10px auto;
  max-width: 80%;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.courseList {
  margin: 0;
  padding: 0;
}

.courseList li {
  display: inline-block;
  margin: 20px;
  list-style-type: none;
}

.course {
  position: relative;
  display: inline-block;
  width: 400px;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  transition: 0.5s;
  transition: 0.3s;
  transform: scale(1);
}

.course__title,
.course__desc {
  margin: 2px 0px;
  padding: 5px 10px;
  background-color: #fafafa;
  text-align: left;
  font-size: 15px;
}

.course__btn {
  display: inline-block;
  overflow: hidden;
  margin: 10px 5px;
  padding: 10px 0px;
  width: 120px;
  outline: 0;
  background-color: #333;
  color: #fafafa;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .course {
    width: 100%;
  }
}